<div class="card">
    <div class="card-content">
        <div class="card-title">
            <h5>Shard1</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <app-circle-progress [value]="20"></app-circle-progress>
                <app-circle-progress [value]="40"></app-circle-progress>
                <app-circle-progress [value]="60"></app-circle-progress>
                <app-circle-progress [value]="80"></app-circle-progress>
                <app-circle-progress [value]="100"></app-circle-progress>
            </div>
        </div>
    </div>
</div>