<div class="col s12 m12 l12">
    <div class="card">
        <div class="card-content">
            <div class="card-title">
                <h5>{{ cardShard.name }}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <app-circle-progress [value]="cardShard.shard1"></app-circle-progress>
                    <app-circle-progress [value]="cardShard.shard2"></app-circle-progress>
                    <app-circle-progress [value]="cardShard.shard3"></app-circle-progress>
                    <app-circle-progress [value]="cardShard.shard4"></app-circle-progress>
                    <app-circle-progress [value]="cardShard.shard5"></app-circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>