<div class="row">
    <div class="header">
        <div class="col s12 m6 l3">
            <div class="imagenes">
                <img id="img_header1" src="../../../assets/img/img-head1.png" alt="" width="300px">
                <img id="img_header2" src="../../../assets/img/img-head2.png" alt="" width="330px">
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="title">
                <h1>Banca Digital</h1>
                <h2>Infraestructura</h2>
            </div>
        </div>
    </div>
</div>
<div class="body">
    <div class="col s12 m6 l4">
        <a class="waves-effect waves-light btn modal-trigger btn-modal" href="#add-infra">Agregar Infraestructura</a>
    </div>
    <div class="row">
        <app-card-infra *ngFor=" let item of infra " [cardInfra]="item"></app-card-infra>
    </div>

</div>

<div id="add-infra" class="modal" materialize="modal" [materializeParams]="[{dismissible:false}]">
    <app-new-infra [urlDestiny]="urlDestiny"></app-new-infra>
</div>