.circle-progress {
    width: 9em;
    height: 9em;
}

.box {
    position: relative;
}

.percent {
    position: absolute;
}

svg {
    position: relative;
    width: 9em;
    height: 9em;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #000;
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(10px, 10px);
    stroke-dasharray: 312;
    stroke-dashoffset: 312;
}

svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #ddd9d9;
}

.number {
    position: absolute;
    top: 4px;
    left: 18px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 35px;
}