.element_title {
    float: left;
    text-align: center;
}

#img_title {
    width: 30%;
    height: 100px;
}

#text_title {
    width: 40%;
    
}

.text_title {
    font-size: 70%;
}

#model_title {
    width: 30%;
}

.element {
    margin-top: 16px;
}

.title-indicador {
    overflow: auto;
    margin-bottom: 4px;
}

.indicador {
    float: left;
}

.percent {
    float: right;
}